Django==5.2.3

#Decouple helps you to organize your settings so that you can change parameters without having to redeploy your app.
#https://github.com/HBNetwork/python-decouple?tab=readme-ov-file

python-decouple==3.8

#https://django-taggit.readthedocs.io/en/latest/
#django-taggit is a reusable Django application designed to make adding tagging to your project easy and fun.

django-taggit==6.1.0
pip==25.1.1
sqlparse==0.5.3